html {
  scroll-behavior: smooth;
}
#arrow-down {
	color: #444444;
	position: fixed;
	right: 3em;
	bottom: 3em;
	animation: moveUpDown 1s linear infinite;
	padding: 1em;
}
#arrow-down:hover {
	color: #FFE483;
}
#arrow-down:active {
	opacity: .5;
}
@keyframes moveUpDown {
	0%, 100% {
		bottom: 2em;
	}
	70% {
		bottom: 1.5em;
	}
}

/* Header */

#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 7em 0 5em;
}
#intro {
	width: 21em;
	height: 7em;
	margin-top: 4em;
}
#image {
	width: 25em;
	height: 32em;
	position: relative;
	margin-left: 2em;
}
#text {
	margin: 1em 1em 1em 0;
}
#resume {
	margin: 12.5em 0 0 7em;
}
#character img {
	width: 21em;
	height: 28em;
}
#header .square-dots img {
	width: 10em;
	height: 10em;
	position: absolute;
	z-index: -1;
	right: 0;
}
#round img { 
	width: 15em;
	height: 15em;
	position: absolute;
	z-index: -1;
	bottom: 0em;
	right: 2.5em;
}
.line-dots img {
	left: 5em;
	bottom: 4em;
	width: 4em;
	height: 1em;
	position: absolute;
	z-index: -1;
}
.double-lines img { 
	left: 1em;
	bottom: 2em;
	width: 20em;
	height: 1em;
	position: absolute;
	z-index: -1;
}

/* Mission */

#mission {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 2em 9em;
}
#mission .square-dots img {
	width: 10em;
	height: 10em;
	margin-right: 2em;
}
#mission .subheadline-text {
	text-align: left;
	width: 32em;
}

/* Work */

#work {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin: 2em 0 5em 0;
}
#work a {
	width: 29em;
	height: 23em;
	margin: 0.5em;
	overflow: hidden;
}
#work img {
	width: 100%;
	transition: transform .5s;
}
#work img:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -ms-filter: none;
    filter: none;
    transform: scale(1.05);
}
#work img:active {
	transform: scale(.8);
    opacity: 0.8;
}
#left, #right {
	display: flex;
	flex-direction: column;
}

/* Media Queries */

@media screen and (max-width: 850px) {
	#arrow-down {
		display: none;
	}
}